html * {
    font-family: 'roboto', 'sans-serif';
    letter-spacing: -1px;
}

body {
    margin: 0;
    font-family: 'roboto' 'sans-serif';
}

.header-hero {
    background-color: #1F2937;
    height: 500px;
    padding: 20px 200px 75px 200px;
}

.info {
    height: 475px;
}

.quote {
    background-color: #E5E7EB;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    height: 110px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.image-box {
    height: 250px;
    width: 550px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b91bc;
}

.image-text {
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-items {
    height: 200px;
    width: 400px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-signup {
    background-color: #3882F6;
    border: 1px solid #1F2937;
    border-radius: 10px;
    color: white;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
}

.container1, .container2, .container3, .container4 {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 160px;
    width: 160px;
}

.items1, .items2, .items3, .items4 {
    width: 160px;
}

.text1, .text2, .text3, .text4 {
    text-align: center;
    font-size: 18px;
    color: #707782;
    margin-top: 5px;
    width: 160px;
    border: 5px solid white;
}

.all-items {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.info-head {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-name {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
}

.quote-items {
    width: 880px;
    height: 240px;
}

.signup-items {
    width: 900px;
    height: 80px;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 40px 80px;
}

.signup-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.signup-head {
    font-weight: 700;
    font-size: 24px;
}

.signup-text {
    font-size: 18x;
}

.lower-signup {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 10px 25px 10px 25px;
}

.signup-button {
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    font-size: 16px;
}